/*Обнуление*/
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
ul,
ol,
li {
    list-style: none;
}
img {
    vertical-align: middle;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}
html,
body {
    height: 100%;
    line-height: 1;
    font-size: 16px;
    color: #000;
    font-weight: 400;
    font-family: "GolosTextRegular", sans-serif;
}
body._lock {
    overflow: hidden;
}
@font-face {
    font-family: "GolosTextRegular";
    src: url("../fonts/GolosTextRegular.woff") format("woff"),
        url("../fonts/GolosTextRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "GolosTextMedium";
    src: url("../fonts/GolosTextMedium.woff") format("woff"),
        url("../fonts/GolosTextMedium.ttf") format("truetype");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "GolosTextBold";
    src: url("../fonts/GolosTextBold.woff") format("woff"),
        url("../fonts/GolosTextBold.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
}
@font-face {
    font-family: "TTFirsNeue";
    src: url("../fonts/TTFirsNeue-DemiBold.woff") format("woff"),
        url("../fonts/TTFirsNeue-DemiBold.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
}
/*--------------------*/
.wrapper {
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
/*--------------------*/
.map {
    width: 100%;
    height: 90%;
    position: fixed;
    top: 76px;
    z-index: 1;
}
.add-object__title {
    font-family: "GolosTextBold";
    font-size: 24px;
    line-height: 120%;
    font-weight: 600;
    text-align: center;
}
.add-object__subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #000;
    margin: 24px 0px;
}
.form-fields {
}
input,
select {
    height: 48px;
    width: 100%;
    background: #f4f7fc;
    border: 1px solid #f4f7fc;
    color: #8c8c95;
    border-radius: 7px;
    padding: 15px 20px;
}
input:hover {
    border: 1px solid #27ae60;
}
select:hover {
    border: 1px solid #27ae60;
}
.input-icon {
    position: absolute;
    top: 172px;
    left: 63.5px;
}
option {
    background: #ffffff;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
    border-radius: 7px;
    height: 48px;
    padding: 16px 48px;
}
.form-field:not(:last-child) {
    margin-bottom: 20px;
}
.form-buttons {
    width: 100%;
    display: flex;
}
button {
    background: none;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
}
.form-photos__add {
    background: #27ae60;
    border: 1px solid #27ae60;
    border-radius: 7px;
    color: #fff;
    width: 100%;
    height: 48px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 33px;
}
.form-photos__add:hover {
    background: #239452;
    border: 1px solid #239452;
}
.active-menu {
    background: #d4efdf;
    transition: all 1s ease 0s;
}
/*.marker__container {
    width: 240px;
    height: auto;
    padding: 5px;
}*/
.marker__title {
    font-family: "GolosTextMedium";
    font-weight: 500;
    margin-bottom: 8px;
    font-size: 16px;
    width: 240px;
}
.short-description {
    font-family: "GolosTextRegular";
    font-size: 14px;
    line-height: 121%;
    color: #8c8c95;
    margin-bottom: 8px;
}
.marker-status {
    font-family: "GolosTextRegular";
    font-size: 14px;
    line-height: 121%;
    margin-bottom: 16px;
}
.status-unknown {
    color: #8c8c95;
}
.status-working {
    color: #27ae60;
}
.status-broken {
    color: #eb5757;
}
.star-rating {
    margin-bottom: 8px;
    display: flex;
    align-items: flex-end;
    line-height: 0.75;
    font-size: 28px;
}
.star-rating__body {
    position: relative;
}
.star-rating__active {
    position: absolute;
    width: 0%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
}
.star-rating__items {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.star-rating__item {
    flex: 0 0 20%;
    height: 100%;
    opacity: 0;
}
.star-rating__value {
    font-family: "GolosTextMedium";
    font-weight: 500;
    font-size: 50%;
    line-height: 1;
    padding-left: 5px;
    color: #ffa235;
}
.star-rating__feedback {
    font-size: 15px;
    line-height: 121%;
    color: #8c8c95;
    margin-left: 9px;
}
.marker__link:hover {
    text-decoration: underline;
}
.marker__address {
    font-family: "GolosTextRegular";
    font-size: 14px;
    margin-bottom: 8px;
    width: 208px;
}
.marker__photo__container {
    margin-bottom: 30px;
}
.marker__photo {
    width: 240px;
    height: 100px;
    border-radius: 3px;
}
.button__end-route {
    font-family: "GolosTextRegular";
    font-weight: 400;
    background: #27ae60;
    border-radius: 6px;
    color: #fff;
    width: 100%;
    height: 48px;
    font-size: 16px;
    cursor: pointer;
    margin: 12px 0px;
    padding: 0px 20px;
}
.button__end-route:hover {
    background: #239452;
}
.button__delete-point {
    font-family: "GolosTextRegular";
    font-weight: 400;
    border-radius: 6px;
    width: 100%;
    height: 48px;
    font-size: 16px;
    cursor: pointer;
    color: #ff5732;
    border: 1px solid #ff5732;
    padding: 0px 20px;
}
.button__delete-point:hover {
    color: #fff;
    background: #ff5732;
}
.leaflet-control-layers-overlays {
    /*width: 287px;*/
    font-family: "GolosTextRegular";
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
}
.leaflet-touch .leaflet-control-layers,
.leaflet-touch .leaflet-bar {
    border: none !important;
    border-radius: 7px;
}
.leaflet-touch .leaflet-control-attribution,
.leaflet-touch .leaflet-control-layers,
.leaflet-touch .leaflet-bar {
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1) !important;
}
.leaflet-control-layers-overlays div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.leaflet-control-layers-overlays label:not(:last-child) {
    border-bottom: 1px solid #f4f7fc;
}
.leaflet-control-layers-overlays label {
    max-height: 48px;
    cursor: pointer;
}
.leaflet-control-layers-overlays img {
    padding: 12px;
}
.leaflet-control-layers-selector {
    height: 20px;
    width: 20px;
    order: 2;
    margin-top: 0 !important;
    cursor: pointer;
    margin-left: 10px;
}
.hide {
    display: none;
}

@media (max-width: 767px) {
    .add-object__subtitle {
        width: 240px;
        font-size: 15px;
        line-height: 120%;
    }
    .add-object__title {
        font-size: 20px;
    }
    .add-object__subtitle {
        margin: 15px 0px;
    }
    .form-field:not(:last-child) {
        margin-bottom: 10px;
    }
    input,
    select {
        height: 40px;
        padding: 10px 15px;
    }
    .form-photos__add {
        height: 40px;
        margin-top: 20px;
    }
}
