/*Обнуление*/
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
ul,
ol,
li {
    list-style: none;
}
img {
    vertical-align: middle;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}
html,
body {
    height: 100%;
    line-height: 1;
    font-size: 16px;
    color: #000;
    font-weight: 400;
    font-family: "GolosTextRegular", sans-serif;
}

@font-face {
    font-family: "GolosTextRegular";
    src: url("../fonts/GolosTextRegular.woff") format("woff"),
    url("../fonts/GolosTextRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "GolosTextMedium";
    src: url("../fonts/GolosTextMedium.woff") format("woff"),
    url("../fonts/GolosTextMedium.ttf") format("truetype");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "GolosTextBold";
    src: url("../fonts/GolosTextBold.woff") format("woff"),
    url("../fonts/GolosTextBold.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
}
/*--------------------*/
.wrapper {
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.header {
    position: absolute;
    width: 100%;
    left: 0px;
    top: 0px;
    z-index: 5;
    padding: 0px 100px;
    max-height: 76px;
}

.header__container {
    display: flex;
    align-items: center;
    max-height: 76px;
    padding: 16px 0px;
}

.header__logo {
    font-size: 24px;
    font-weight: 700;
    color: inherit;
}

/*.search {
    padding: 12px 16px;
    margin-left: 32px;
    background: #f4f7fc;
    border-radius: 7px;
    width: 300px;
    height: 44px;
}
.search-btn {
    cursor: pointer;
    position: absolute;
    top: 29px;
    left: 463px;
}*/
.header__menu {
    margin-left: 100px;
}

.menu {
    padding: 5px 0px;
}

.menu__list {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #d3d5da;
    border-radius: 7px;
}
.menu__item {
    cursor: pointer;
}
.menu__item img {
    margin-right: 15px;
}
.menu__item:not(:last-child) {
    border-right: 1px solid #d3d5da;
}
.menu__item:first-child {
    border-radius: 7px 0px 0px 7px;
}
.menu__item:last-child {
    border-radius: 0px 7px 7px 0px;
}
.menu__item:hover {
    border: 1px solid #27ae60;
}

.menu__link {
    color: inherit;
    line-height: 171%;
    font-weight: 400;
    padding: 10px 23px;
}

.user-menu {
    position: absolute;
    right: 100px;
}

.user-menu li {
    position: relative;
    display: block;
}

.user-menu a {
    color: #000;
}
.user-menu__list {
}
.user-menu__link {
    font-family: "GolosTextMedium", sans-serif;
    font-weight: 500;
    padding-left: 12px;
    display: inline-block;
}
.avatar {
    width: 45px;
    height: 45px;
    top: 16px;
    border-radius: 50%;
}
.user-menu__link img {
    padding-left: 10px;
}
.sub-menu__list {
    display: none;
    position: absolute;
    right: 0;
    top: 40px;
    min-width: 200px;
    background: #fff;
    line-height: 120%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 7px;
    border-top: 3px solid #fff;
    margin-top: 20px;
}
.user-menu__link:focus ~ .sub-menu__list,
.user-menu__link:active ~ .sub-menu__list,
.sub-menu__list:hover {
    display: block;
}
.sub-menu__list li:hover {
    background-color: #f2f2f5;
}
.sub-menu__list li:last-child:hover {
    border-radius: 0px 0px 7px 7px;
}
.sub-menu__list li:first-child:hover {
    border-radius: 7px 7px 0px 0px;
}
.sub-menu__list li:not(:last-child) {
    border-bottom: 1px solid #f4f7fc;
}
.sub-menu__list:before {
    content: "";
    border: 12px solid transparent;
    border-bottom: 12px solid #fff;
    position: absolute;
    left: 50%;
    margin-left: -12px;
    top: -27px;
}
.sub-menu__list a {
    padding: 16px 19px;
}
.sub-menu__link {
    display: inline-block;
    text-align-last: left;
}
.sub-menu__link img {
    padding-right: 8px;
}
/*--------------------*/
.map {
    width: 100%;
    height: 90%;
    position: relative;
    top: 76px;
    z-index: 1;
}
.add-object__title {
    font-family: "GolosTextBold";
    font-size: 24px;
    line-height: 120%;
    font-weight: 600;
    text-align: center;
}
.add-object__subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #000;
    margin: 24px 0px;
}
.form-fields {
}
input,
select {
    height: 48px;
    width: 100%;
    background: #f4f7fc;
    border: 1px solid #f4f7fc;
    color: #8c8c95;
    border-radius: 7px;
    padding: 15px 20px;
}
input:hover {
    border: 1px solid #27ae60;
}
select:hover {
    border: 1px solid #27ae60;
}
.input-icon {
    position: absolute;
    top: 172px;
    left: 63.5px;
}
option {
    background: #ffffff;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
    border-radius: 7px;
    height: 48px;
    padding: 16px 48px;
}
.form-field:not(:last-child) {
    margin-bottom: 20px;
}
.form-geolocation {
}
.form-object-name {
}
.form-category {
}
.form-buttons {
    width: 100%;
    display: flex;
}
button {
    background: none;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
}
.form-photos__add {
    background: #27ae60;
    border: 1px solid #27ae60;
    border-radius: 7px;
    color: #fff;
    width: 100%;
    height: 48px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 33px;
}
.form-photos__add:hover {
    background: #239452;
    border: 1px solid #239452;
}
.active-menu {
    background: #d4efdf;
    transition: 0.5s all;
}
.marker__container {
    width: 240px;
    height: auto;
    background: #ffffff;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
    border-radius: 7px;
    padding: 16px;
    position: absolute;
    top: 200px;
    left: 300px;
    z-index: 5;
}
.marker__title {
    font-family: "GolosTextMedium";
    font-weight: 500;
    margin-bottom: 8px;
}
.star-rating {
    margin-bottom: 8px;
    display: flex;
    align-items: flex-end;
    line-height: 0.75;
    font-size: 28px;
}
.star-rating__body {
    position: relative;
}
.star-rating__body::before {
    content: "★★★★★";
    display: block;
    color: #aeaeb1;
}
.star-rating__active {
    position: absolute;
    width: 0%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
}
.star-rating__active::before {
    content: "★★★★★";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    color: #ffa235;
}
.star-rating__items {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.star-rating__item {
    flex: 0 0 20%;
    height: 100%;
    opacity: 0;
}
.star-rating__value {
    font-size: 50%;
    line-height: 1;
    padding-left: 10px;
    color: #ffa235;
}
.marker__address {
    color: #8c8c95;
    margin-bottom: 16px;
    width: 208px;
}
.marker__photo__container {
    width: 208px;
    height: 100px;
    border-radius: 3px;
}
.marker__photo {
}
