/*Обнуление*/
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
a {
    color: #000;
    text-decoration: none;
}
ul,
ol,
li {
    list-style: none;
}
img {
    vertical-align: middle;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}
html,
body {
    height: 100%;
    line-height: 1;
    font-size: 16px;
    color: #000;
    font-weight: 400;
    font-family: "GolosTextRegular", sans-serif;
}
body._lock {
    overflow: hidden;
}
@font-face {
    font-family: "GolosTextRegular";
    src: url("../fonts/GolosTextRegular.woff") format("woff"),
        url("../fonts/GolosTextRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "GolosTextMedium";
    src: url("../fonts/GolosTextMedium.woff") format("woff"),
        url("../fonts/GolosTextMedium.ttf") format("truetype");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "GolosTextDemiBold";
    src: url("../fonts/GolosText-DemiBold.woff") format("woff"),
        url("../fonts/GolosText-DemiBold.ttf") format("truetype");
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: "GolosTextBold";
    src: url("../fonts/GolosTextBold.woff") format("woff"),
        url("../fonts/GolosTextBold.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
}
@font-face {
    font-family: "TTFirsNeue";
    src: url("../fonts/TTFirsNeue-DemiBold.woff") format("woff"),
        url("../fonts/TTFirsNeue-DemiBold.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
}
/*--------------------*/
.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
/*--------------------*/
.content__wrapper {
    flex: 1 1 auto;
    padding: 0px 150px;
    background: #f4f7fc;
}
.profile__title {
    font-family: "GolosTextDemiBold";
    font-weight: 600;
    font-size: 32px;
    line-height: 118%;
    padding: 40px 0px 40px 0px;
}
.content__container {
    background: #ffffff;
    height: 586px;
    display: flex;
    border-radius: 12px;
    margin-bottom: 120px;
}
.user {
    display: flex;
    width: 380px;
    height: inherit;
    padding: 40px 60px;
    margin-bottom: 40px;
    flex-direction: column;
    border-right: 1px solid #d3d5da;
    align-items: center;
}
.user__avatar {
    height: 260px;
    width: 260px;
    border-radius: 50%;
    margin-bottom: 20px;
}
.user__name {
    font-family: "GolosTextMedium";
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    margin-bottom: 24px;
}
.user__grade {
    color: #8c8c95;
    line-height: 118%;
}
.user__grade img {
    margin-right: 12px;
    vertical-align: middle;
}
.user__info {
    display: flex;
    flex-direction: column;
    padding: 40px;
    width: calc(100% - 380px);
}
.user__rating {
    margin-bottom: 40px;
}
.rating__points {
    margin-bottom: 12px;
}
.rating__points span,
.rating__level span {
    font-family: "GolosTextMedium";
    font-weight: 500;
}
.rating__level {
    margin-bottom: 20px;
}
.rating__nextlevel {
    margin-bottom: 12px;
}
.rating__nextlevel__progress {
}
.rating__nextlevel__hint {
    width: 80%;
    font-size: 14px;
    line-height: 121%;
    color: #8c8c95;
}
.title {
    font-family: "GolosTextMedium";
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    margin-bottom: 20px;
}
.achievements {
    margin-bottom: 40px;
}
.achievements__cards {
    display: flex;
    flex-direction: row;
}
.card {
    border-radius: 7px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    width: 120px;
    margin-right: 12px;
    text-align: center;
    align-items: center;
    background: #f4f7fc;
}
.card__count {
    display: flex;
    margin-bottom: 5px;
}
.card__count img {
    margin-right: 8px;
}
.point__title,
.route__title,
.feedback__title {
    margin-bottom: 0;
}
.transport-model__type {
    background: #f4f7fc;
    border-radius: 7px;
    padding: 20px;
    width: 100%;
}
.avatar {
    width: 45px;
    height: 45px;
    top: 16px;
    border-radius: 50%;
}
button {
    background: none;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
}
.hide {
    display: none;
}
@media (min-width: 1950px) {
    .content__wrapper {
        padding: 0px 200px;
    }
    .buttons {
        width: 25%;
    }
}
@media (max-width: 1520px) {
    .content__wrapper {
        display: flex;
        flex-direction: column;
    }
    .content__container {
        width: 100%;
    }
}
@media (max-width: 1200px) {
    .content__wrapper {
        padding: 0px 50px;
    }
}
@media (max-width: 1068px) {
    .user {
        padding: 40px;
        width: 310px;
    }
    .user__avatar {
        width: 220px;
        height: 220px;
    }
    .user__info {
        width: calc(100% - 310px);
    }
    .rating__nextlevel__hint {
        width: 100%;
    }
}
@media (max-width: 935px) {
    .content__wrapper {
        padding: 0px 50px;
    }
    .content__container {
        height: 100%;
        flex-direction: column;
        background-color: #f4f7fc;
    }
    .user {
        width: 100%;
        background-color: #fff;
        border-right: none;
        border-radius: 12px;
    }
    .user__info {
        width: 100%;
        background-color: #fff;
        border-radius: 12px;
    }
}
@media (max-width: 767px) {
    .content__wrapper {
        padding: 0px 25px;
    }
    .profile__title {
        padding: 100px 10px 20px 0px;
        font-size: 26px;
    }
    .user {
        margin: 20px 0px;
    }
}
@media (max-width: 568px) {
    .content__wrapper {
        padding: 0px 0px;
        border-radius: 0px;
        margin-bottom: 0;
        background-color: #f4f7fc;
    }
    .content__wrapper {
        padding: 0px 0px;
    }
    .content__container,
    .user__info {
        margin-bottom: 0;
    }
    .profile__title {
        padding: 100px 10px 20px 10px;
        font-size: 20px;
    }
    .user,
    .user__info {
        border-radius: 0px;
    }
    .user {
        margin-top: 0;
        padding: 20px;
    }
    .user__avatar {
        width: 128px;
        height: 128px;
        margin-bottom: 16px;
    }
    .user__name {
        margin-bottom: 16px;
    }
    .user__info {
        padding: 20px 10px;
    }
    .title {
        font-size: 18px;
    }
    .user__rating {
        margin-bottom: 32px;
    }
    .menu__link {
        padding: 5px 10px;
    }
    .menu__item img {
        margin-right: 10px;
    }
    .card {
        width: 94px;
        font-size: 14px;
        margin-right: 9px;
    }
    .feedback__count {
        margin-right: 0;
    }
}
