/*Обнуление*/
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
a {
    color: #000;
    text-decoration: none;
}
ul,
ol,
li {
    list-style: none;
}
img {
    vertical-align: middle;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}
html,
body {
    height: 100%;
    line-height: 1;
    font-size: 16px;
    color: #000;
    font-weight: 400;
    font-family: "GolosTextRegular", sans-serif;
}
body._lock {
    overflow: hidden;
}
@font-face {
    font-family: "GolosTextRegular";
    src: url("../fonts/GolosTextRegular.woff") format("woff"),
        url("../fonts/GolosTextRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "GolosTextMedium";
    src: url("../fonts/GolosTextMedium.woff") format("woff"),
        url("../fonts/GolosTextMedium.ttf") format("truetype");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "GolosTextDemiBold";
    src: url("../fonts/GolosText-DemiBold.woff") format("woff"),
        url("../fonts/GolosText-DemiBold.ttf") format("truetype");
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: "GolosTextBold";
    src: url("../fonts/GolosTextBold.woff") format("woff"),
        url("../fonts/GolosTextBold.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
}
/*--------------------*/
.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
/*--------------------*/
.content__wrapper {
    flex: 1 1 auto;
    padding: 0px 150px;
    background: #f4f7fc;
}
.profile__title {
    font-family: "GolosTextDemiBold";
    font-weight: 600;
    font-size: 32px;
    line-height: 118%;
    padding: 40px 0px 40px 0px;
}
.container {
    background: #ffffff;
    border-radius: 12px;
    margin-bottom: 120px;
    padding: 60px;
    display: flex;
}
.content__container {
    width: 70%;
    display: flex;
    flex-direction: column;
}
.user {
    display: flex;
    margin-bottom: 40px;
}
.user__avatar {
    height: 128px;
    width: 128px;
    border-radius: 50%;
}
.user__info {
    margin-left: 24px;
}
.user__name {
    font-family: "GolosTextMedium";
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    margin-bottom: 12px;
}
.user__email {
    line-height: 120%;
    color: #8c8c95;
    margin-bottom: 26px;
}
.achievements {
    display: flex;
    flex-direction: row;
}
.card {
    border-radius: 7px;
    padding: 20px;
    display: flex;
    width: 220px;
    margin-right: 20px;
}
.card__mobile {
    display: none;
}
.card__info {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}
.feedback__count {
    background: #ffefe0;
}
.title {
    font-family: "GolosTextMedium";
    font-weight: 500;
    font-size: 32px;
    line-height: 118%;
    margin-bottom: 3px;
}
.route__count {
    background: #dbf4e6;
}
.point__count {
    background: #ffe8e8;
}
.transport-model {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: #f4f7fc;
    border-radius: 12px;
    padding: 32px 40px;
    width: 320px;
}
.transport-model__title {
    font-family: "GolosTextMedium";
    font-weight: 500;
    font-size: 18px;
    line-height: 122%;
    margin-bottom: 25px;
}
.transport__image {
    margin-bottom: 22px;
}
.transport-model__subtitle {
}
.avatar {
    width: 45px;
    height: 45px;
    top: 16px;
    border-radius: 50%;
}
input {
    height: 48px;
    width: 100%;
    background: #fff;
    border: 1px solid #d3d5da;
    color: #000;
    border-radius: 7px;
    padding: 15px 20px;
    margin-bottom: 20px;
    font-size: 15px;
}
input:hover {
    border: 1px solid #27ae60;
}
button {
    background: none;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
}
.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #0c585c;
    color: #fff;
    padding: 38px 150px;
    max-height: 100px;
    line-height: 120%;
    text-align: center;
    align-items: center;
}
.hide {
    display: none;
}
@media (min-width: 1950px) {
    .footer {
        padding: 0px 200px;
    }
    .container {
        padding: 0px 200px;
    }
    .buttons {
        width: 25%;
    }
}
@media (max-width: 1520px) {
    .container {
        display: flex;
        flex-direction: column;
    }
    .content__container {
        width: 100%;
    }
    .transport-model {
        width: 50%;
        margin-top: 20px;
    }
}
@media (max-width: 1200px) {
    .footer {
        padding: 0px 50px;
    }
}
@media (max-width: 1068px) {
    .container {
        align-items: center;
        padding: 20px;
    }
    .user {
        flex-direction: column;
        align-items: center;
    }
    .user__info {
        margin-left: 0px;
    }
    .card {
        width: 200px;
        padding: 15px;
        margin-right: 10px;
    }
    .achievements {
        display: flex;
        justify-content: center;
    }
}
@media (max-width: 935px) {
    .content__wrapper {
        padding: 0px 50px;
    }
    .card {
        display: none;
    }
    .card__mobile {
        border-radius: 7px;
        padding: 15px;
        display: flex;
        width: 180px;
        flex-direction: column;
        align-items: center;
    }
    .card__info {
        flex-direction: row;
        margin: 0;
        align-items: center;
        margin-bottom: 6px;
    }
    .card__info img {
        height: 18px;
        margin-right: 11px;
    }
    .feedback__count__mobile {
        background: #ffefe0;
        margin-right: 10px;
    }
    .route__count__mobile {
        background: #dbf4e6;
        margin-right: 10px;
    }
    .point__count__mobile {
        background: #ffe8e8;
    }
    .title {
        font-size: 20px;
        margin: 0;
    }
}
@media (max-width: 767px) {
    .footer {
        flex-direction: column;
        padding: 0px 25px;
        align-items: center;
        text-align: center;
        padding: 0;
        max-height: 191px;
    }
    .footer__logo {
        margin-top: 32px;
    }
    .footer__rights {
        margin: 20px 0px;
    }
    .container {
        padding: 0px 25px;
    }
    .profile__title {
        padding: 100px 10px 20px 10px;
    }
    .user {
        margin: 20px 0px;
    }
    .transport-model {
        width: 100%;
        border-radius: 0px;
        background-color: #fff;
    }
}
@media (max-width: 568px) {
    .footer {
        padding: 0px 10px;
    }
    .container {
        padding: 0px 0px;
        border-radius: 0px;
        margin-bottom: 0;
        background-color: #f4f7fc;
    }
    .content__wrapper {
        padding: 0px 0px;
    }
    .content__container {
        background-color: #fff;
        padding-bottom: 20px;
    }
    .profile__title {
        font-size: 20px;
    }
    .achievements {
        padding: 0px 10px;
    }
    .menu__link {
        padding: 5px 10px;
    }
    .menu__item img {
        margin-right: 10px;
    }
}
@media (max-width: 425px) {
    .card__mobile {
        width: 100px;
    }
}
