/*Обнуление*/
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
a {
    color: #000;
    text-decoration: none;
}
ul,
ol,
li {
    list-style: none;
}
img {
    vertical-align: middle;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}
html,
body {
    height: 100%;
    line-height: 1;
    font-size: 16px;
    color: #000;
    font-weight: 400;
    font-family: "GolosTextRegular", sans-serif;
}
@font-face {
    font-family: "GolosTextRegular";
    src: url("../fonts/GolosTextRegular.woff") format("woff"),
    url("../fonts/GolosTextRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "GolosTextMedium";
    src: url("../fonts/GolosTextMedium.woff") format("woff"),
    url("../fonts/GolosTextMedium.ttf") format("truetype");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "GolosTextBold";
    src: url("../fonts/GolosTextBold.woff") format("woff"),
    url("../fonts/GolosTextBold.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
}
@font-face {
    font-family: "TTFirsNeue";
    src: url("../fonts/TTFirsNeue-DemiBold.woff") format("woff"),
    url("../fonts/TTFirsNeue-DemiBold.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
}
/*--------------------*/
body._lock {
    overflow: hidden;
}
.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
/*--------------------*/
.container {
    flex: 1 1 auto;
    padding: 76px 150px;
    background: #f4f7fc;
}

.edit-point__forms {
    float: left;
    width: 50%;
    padding-right: 40px;
}
.edit-point__title {
    font-weight: 600;
    font-size: 32px;
    line-height: 118%;
    padding: 0px 0px 40px 0px;
}
.content__container {
    background: #fff;
    margin-bottom: 120px;
    border-radius: 12px;
    display: flex;
    padding: 35px 40px;
}
.sub-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
    padding-bottom: 12px;
}
.required-form {
    color: #ed6547;
}
.short-description::placeholder {
    white-space: pre-wrap;
}
.edit-point__description {
    font-family: "GolosTextRegular", sans-serif;
    font-size: 15px;
    width: 100%;
    height: 200px;
    padding: 15px 20px;
    border: 1px solid #f4f7fc;
    border-radius: 7px;
    color: #8c8c95;
    resize: none;
    margin-bottom: 20px;
}
.edit-point__description:hover {
    border: 1px solid #27ae60;
}
.edit-point__cancel {
    border: 1px solid #27ae60;
    border-radius: 7px;
    color: #27ae60;
    width: 150px;
    height: 48px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-weight: 500;
    margin-right: 20px;
    padding: 15px 20px;
}
.edit-point__cancel:hover {
    cursor: pointer;
    background: #239452;
    border: 1px solid #239452;
    color: #fff;
    font-size: 16px;
}
.edit-point__add {
    background: #27ae60;
    border: 1px solid #27ae60;
    border-radius: 7px;
    color: #fff;
    width: 150px;
    height: 48px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
.edit-point__add:hover {
    background: #239452;
    border: 1px solid #239452;
}
.edit-buttons {
    display: flex;
    margin-top: 40px;
}
.edit-point__photos__mobile {
    display: none;
    position: relative;
}
.edit-point__photos {
    display: inline-block;
    position: relative;
    width: 50%;
}
input,
select {
    min-height: 48px;
    width: 100%;
    background: #fff;
    border: 1px solid #f4f7fc;
    color: #8c8c95;
    border-radius: 7px;
    padding: 15px 20px;
    margin-bottom: 20px;
    font-size: 15px;
    line-height: 120%;
}
input:focus {
    outline: none;
}
input:hover {
    border: 1px solid #27ae60;
}
select:hover {
    border: 1px solid #27ae60;
}
option {
    background: #ffffff;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
    border-radius: 7px;
    height: 48px;
    padding: 16px 48px;
}
button {
    background: none;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
}
.add-photo label {
    height: 48px;
    background: #27ae60;
    color: #fff;
    padding: 15px 20px;
    border-radius: 7px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 4px auto 0px auto;
}
.add-photo label:hover {
    cursor: pointer;
    background: #239452;
}
.add-photo label img {
    margin-right: 12px;
}
.add-photo input[type="file"] {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    position: absolute;
    z-index: -10;
}
.edit-point__warning {
    line-height: 140%;
    margin: 16px 0px 0px 0px;
    color: #8c8c95;
}
.edit-buttons__mobile {
    display: none;
}
#photo {
    height: 350px;
    border-radius: 12px;
    object-fit: cover;
}
#crossbutton {
    position: absolute;
    top: 2%;
    right: 2%;
    cursor: pointer;
}
@media (min-width: 1950px) {
    .container {
        padding: 0px 200px;
    }
    .buttons {
        width: 25%;
    }
}
@media (max-width: 1200px) {
    .container {
        padding: 0px 50px;
    }
    .edit-point__title {
        padding: 44px 10px 20px 0px;
    }
}
@media (max-width: 980px) {
    .content__container {
        flex-direction: column;
    }
    .edit-point__forms {
        width: 100%;
    }
    .edit-point__forms {
        padding: 0;
    }
    .edit-point__photos {
        width: 100%;
        margin-top: 15px;
    }
}
@media (max-width: 767px) {
    .container {
        padding: 0px 25px;
    }
    .edit-point__title {
        padding: 100px 10px 20px 0px;
    }
}
@media (max-width: 568px) {
    .container {
        padding: 0px 0px;
    }
    .content__container {
        border-radius: 0px;
        padding: 15px 10px;
        margin-bottom: 0;
    }
    .edit-point__title {
        font-size: 20px;
        padding: 100px 10px 20px 10px;
    }
    .short-description {
        height: 66px;
    }
    .add-photo label {
        width: 100%;
    }
    .edit-point__cancel,
    .edit-point__add {
        width: 50%;
    }
    .edit-point__cancel {
        margin-right: 10px;
    }
    #photo {
        height: 200px;
    }
}
