/*Обнуление*/
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
a {
    color: #000;
    text-decoration: none;
}
ul,
ol,
li {
    list-style: none;
}
img {
    vertical-align: middle;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}
html,
body {
    height: 100%;
    line-height: 1;
    font-size: 16px;
    color: #000;
    font-weight: 400;
    font-family: "GolosTextRegular", sans-serif;
}
body._lock {
    overflow: hidden;
}
@font-face {
    font-family: "GolosTextRegular";
    src: url("../fonts/GolosTextRegular.woff") format("woff"),
        url("../fonts/GolosTextRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "GolosTextMedium";
    src: url("../fonts/GolosTextMedium.woff") format("woff"),
        url("../fonts/GolosTextMedium.ttf") format("truetype");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "GolosTextDemiBold";
    src: url("../fonts/GolosText-DemiBold.woff") format("woff"),
        url("../fonts/GolosText-DemiBold.ttf") format("truetype");
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: "GolosTextBold";
    src: url("../fonts/GolosTextBold.woff") format("woff"),
        url("../fonts/GolosTextBold.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
}
@font-face {
    font-family: "TTFirsNeue";
    src: url("../fonts/TTFirsNeue-DemiBold.woff") format("woff"),
        url("../fonts/TTFirsNeue-DemiBold.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
}
/*--------------------*/
.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background: #f4f7fc;
}
/*--------------------*/
.container {
    flex: 1 1 auto;
    padding: 0px 40px;
    background-color: #fff;
    margin: 40px 150px;
    height: 100%;
    border-radius: 7px;
}
.infoblock {
    display: flex;
    text-align: left;
    border-bottom: 1px solid #d3d5da;
}
.infoblock__info {
    width: 50%;
}
.infoblock__category {
    color: #8c8c95;
}
.infoblock__category__name {
    margin-left: 10px;
}
.point__title {
    font-weight: 600;
    font-size: 32px;
    line-height: 118%;
    padding: 10px 0px 24px 0px;
}
.infoblock__rating__title {
    color: #8c8c95;
    line-height: 118%;
    margin-bottom: 15px;
}
.infoblock__rating {
    text-align: left;
    margin-bottom: 25px;
}
.infoblock__rating__feedback {
    color: #8c8c95;
    margin-left: 12px;
}
.infoblock__address__title,
.infoblock__status__title {
    color: #8c8c95;
    margin-bottom: 15px;
}
.infoblock__address {
    margin-bottom: 24px;
}
.infoblock__address img {
    margin-right: 12px;
}
.infoblock__user {
    margin: 26px 0px;
    text-align: left;
    align-items: center;
}
.infoblock__user__add {
    display: block;
    color: #8c8c95;
    line-height: 118%;
    text-align: left;
    margin-bottom: 12px;
}
.infoblock__user__photo {
    height: 32px;
    width: 32px;
    border-radius: 50%;
}
.infoblock__user__name {
    text-align: left;
    margin-left: 12px;
}
.infoblock__slider {
    width: 50%;
}
.avatar {
    width: 45px;
    height: 45px;
    top: 16px;
    border-radius: 50%;
}
.swiper {
}
.image-slider {
}
.image-slider .swiper-button-prev::after,
.image-slider .swiper-button-next::after {
    color: #fff;
    font-size: 80px;
}
.swiper-button-prev,
.swiper-button-next {
    color: #fff !important;
}
.swiper-button-next {
}
.swiper-container {
}
.swiper-pagination-bullet {
    background-color: #fff !important;
}
.image-slider__wrapper {
}
.swiper-wrapper {
}
.image-slider__slide {
}
.swiper-slide {
}
.image-slider__image {
    text-align: center;
}
.image-slider__image img {
    width: 100%;
    height: 100%;
}
.description {
    width: 50%;
    line-height: 140%;
}
.title {
    font-family: "GolosTextDemiBold";
    font-weight: 600;
    font-size: 24px;
    line-height: 120%;
    width: 50%;
}
.block {
    display: flex;
    padding: 40px 0px;
}
.block:not(:last-child) {
    border-bottom: 1px solid #d3d5da;
}
.location__map {
    border-radius: 12px;
    z-index: 2;
}
.feedback {
    margin: 20px auto;
}
.feedback__form {
    width: 50%;
}
.block__subtitle {
    font-family: "GolosTextMedium";
    font-weight: 500;
    margin-bottom: 16px;
}
.feedback__rating {
    position: relative;
    display: inline-block;
}
.feedback__rating::before {
    content: url(/PagePointPersonal/img/greystar.svg)
        url(/PagePointPersonal/img/greystar.svg)
        url(/PagePointPersonal/img/greystar.svg)
        url(/PagePointPersonal/img/greystar.svg)
        url(/PagePointPersonal/img/greystar.svg);
    display: block;
}
.rating__items {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row-reverse;
    overflow: hidden;
}
.rating__item {
    position: absolute;
    width: 0%;
    height: 0%;
    opacity: 0;
    visibility: hidden;
    top: 0;
    left: 0;
}
.rating__label {
    flex: 0 0 20%;
    cursor: pointer;
}
.rating__item:checked,
.rating__item:checked ~ .rating__label {
    content: url(/PagePointPersonal/img/clrstar.svg);
}
.rating__label::before {
    content: url(/PagePointPersonal/img/greystar.svg);
    display: block;
    transition: all 0.3s ease 0s;
}
.rating__label:hover,
.rating__label:hover ~ .rating__label,
.rating__label:checked ~ .rating__label:hover {
    content: url(/PagePointPersonal/img/clrstar.svg);
}
.feedback__comment__subtitle {
    margin-top: 32px;
}
textarea {
    width: 100%;
    background: #f4f7fc;
    border: 1px solid #f4f7fc;
    color: #8c8c95;
    border-radius: 7px;
    padding: 15px 20px;
    font-size: 15px;
    resize: none;
}
textarea:hover {
    border: 1px solid #27ae60;
}
.feedback__comment {
    font-family: "GolosTextRegular", sans-serif;
    font-size: 16px;
    width: 100%;
    height: 220px;
    color: #000;
    margin: 16px 0px 32px 0px;
}
input:hover {
    border: 1px solid #27ae60;
}
.feedback__button__image {
    user-select: none;
}
.feedback__button__container label,
.infoblock__button-edit {
    height: 48px;
    background: #27ae60;
    color: #fff;
    padding: 15px 20px;
    border-radius: 7px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.feedback__button__container label:hover,
.infoblock__button-edit:hover {
    cursor: pointer;
    background: #239452;
}
.feedback__button__container > label img {
    margin-right: 12px;
}
.feedback__button__container input[type="submit"] {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    position: absolute;
    z-index: -10;
}
.infoblock__button-edit {
    display: inline-block;
    margin: 0 auto 0 0;
}
.infoblock__button-edit a {
    font-family: "GolosTextMedium";
    color: #fff;
    font-weight: 500;
}
.infoblock__button-edit img {
    margin-right: 14px;
}
.feedback__button__add {
    background: #27ae60;
    border: 1px solid #27ae60;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    margin-left: 20px;
    padding: 15px 20px;
    align-items: center;
    text-align: center;
}
.comments {
    width: 50%;
    display: flex;
    flex-direction: column;
}
.comments__title {
    font-family: "GolosTextMedium";
    font-weight: 500;
    margin-bottom: 10px;
}
.count__comments {
    margin-left: 16px;
    color: #8c8c95;
}
.comments__comment {
    display: flex;
    flex-direction: column;
    background: #ffffff;
    margin-bottom: 20px;
}
.comments__comment:not(:last-child) {
    padding-bottom: 35px;
    border-bottom: 1px solid #d3d5da;
}
.comment__top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 24px;
}
.comment__user {
    display: flex;
    text-align: center;
    align-items: center;
}
.comment__user-avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.comment__user__content {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: 16px;
}
.comment__user__name {
    font-family: "GolosTextMedium";
    font-weight: 500;
    line-height: 118%;
    margin-bottom: 8px;
}
.comment__user__date {
    font-size: 16px;
    line-height: 120%;
    color: #8c8c95;
}
.comment__rating {
}
.comment__text {
    margin-bottom: 26px;
    line-height: 140%;
    word-wrap: break-word;
}
.comment__bottom {
    display: flex;
    line-height: 121%;
    text-align: center;
    align-items: center;
}
.comment__bottom__useful {
    font-size: 14px;
    color: #8c8c95;
}
.comment__like-icon {
    margin-left: 22px;
    margin-right: 10px;
}
.comment__like-count {
    font-family: "GolosTextMedium";
    font-weight: 500;
    font-size: 14px;
    color: #8c8c95;
}
button {
    background: none;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
}
.like-active img {
    content: url("/PagePointPersonal/img/like-active.svg");
}
.like-active__count {
    color: #27ae60;
}
.hide {
    display: none;
}
@media (min-width: 1950px) {
    .container {
        padding: 0px 40px;
        margin: 40px 200px;
    }
    .user-menu {
        right: 200px;
    }
}
@media (max-width: 1200px) {
    .container {
        padding: 0px 50px;
        margin: 50px;
    }
}
@media (max-width: 1024px) {
    .infoblock {
        flex-direction: column;
    }
    .infoblock__info {
        width: 100%;
        margin-bottom: 20px;
    }
    .infoblock__slider {
        width: 100%;
    }
}
@media (max-width: 900px) {
    .infoblock {
        flex-direction: column;
        align-items: baseline;
    }
    .point__title {
        padding: 15px 0px 20px 0px;
    }
    .infoblock__rating {
        margin-bottom: 25px;
    }
    .information__title {
        margin-bottom: 25px;
    }
    .information__address__title {
        margin-top: 25px;
    }
    .comments-rating__wrapper {
        flex-direction: column-reverse;
    }
    .comments {
        width: 100%;
        margin-right: 0px;
    }
}
@media (max-width: 767px) {
    .container {
        padding: 0px 25px;
        margin: 70px 0px 0px 0px;
    }
    .block {
        display: flex;
        flex-direction: column;
        margin: 15px auto;
        background: #ffffff;
        padding: 20px 10px;
        border-radius: 0px;
    }
    .title {
        width: 100%;
        font-size: 18px;
        margin-bottom: 12px;
    }
    .description {
        width: 100%;
    }
    .block__subtitle {
        font-size: 14px;
        margin: 16px 0;
    }
    .location__map {
        width: 100% !important;
        height: 250px !important;
        border-radius: 7px;
    }
    .feedback__form {
        width: 100%;
    }
    .feedback__comment {
        font-size: 14px;
        margin: 0px 0px 20px 0px;
    }
    .feedback__button__container label {
        width: 100%;
    }
    .comments-rating__wrapper {
        display: block;
    }
    .comments {
        width: 100%;
        margin: 0px;
    }
    .comments__comment {
        margin: 0;
        padding: 20px 10px;
        border-radius: 0px;
        font-size: 14px;
    }
}
@media (max-width: 568px) {
    .container {
        padding: 0px 0px;
    }
    .point__title {
        font-size: 20px;
        padding: 12px 0px;
    }
    .infoblock {
        font-size: 14px;
        margin-bottom: 20px;
    }
    .comments__title {
        margin-left: 10px;
    }
}
